<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
</style>


<div class="container">
  <mat-card class="card" *ngIf="histories.length > 0; else emptyDiv">
    <button mat-button color="warn" (click)="onDeleteAll()">Effacer tous</button>

    <item-history (emitDeleteHistory)="onDeleteHistory($event)" *ngFor="let history of histories " [history]="history">
    </item-history>

    <ng-template #emptyDiv>
      <span style="text-align: center;">Vide.</span>
    </ng-template>
  </mat-card>

  <ng-template #emptyDiv>
    <mat-card class="card">
      <span style="text-align: center;">Vide.</span>
    </mat-card>
  </ng-template>

</div>