.container {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .01);
}

.tab-group {
  margin-top: 10px;
  flex-grow: 1;
}

.tab-icon {
  margin-right: 5px;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}